@font-face {
  font-family: "Beekeepers";
  src: url("https://plague-doctors.netlify.app/fonts/TT2020Base-Regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "Beekeepers Italic";
  src: url("https://plague-doctors.netlify.app/fonts/TT2020Base-Italic.woff2")
    format("woff2");
}
@font-face {
  font-family: "Capture It";
  src: url("https://plague-doctors.netlify.app/fonts/Capture_it.woff")
    format("woff");
}
@font-face {
  font-family: "Capture It Inverted";
  src: url("https://plague-doctors.netlify.app/fonts/Capture_it_2.woff")
    format("woff");
}
body {
  background-color: #000;
  color: #fff;
  font-family: Ubuntu, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Beekeepers Italic;
}

.title-font {
  font-family: Capture It;
  letter-spacing: 1px;
  font-weight: normal;
}

.title-font-inverted {
  font-family: Capture It Inverted;
  letter-spacing: 1px;
  font-weight: normal;
}

a {
  color: #6ac4b0;
}

a:visited {
  color: #6ac4b0;
}
