.plague-doctor-element {
  position: fixed;
  height: 52px;
  width: 44px;
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.5s ease, top 0.1s, left 0.1s;
  cursor: crosshair;
}

.plague-doctor-element-init.plague-doctor-element-init {
  opacity: 0;
  transition: opacity 0.5s ease top 0.1s, left 0.1s;
}

.image-reversed.image-reversed {
  transform: scaleX(-1);
}

.dead.dead {
  transform: rotate(-90deg);
}

@media only screen and (max-min-device-width: 768px) {
  .plague-doctor-element {
    transform: scale(2);
  }
  .image-reversed.image-reversed {
    transform: scaleX(-2) scaleY(2);
  }
}
