.plague-doctor-element {
  position: fixed;
  height: 52px;
  width: 44px;
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.5s ease, top 0.1s, left 0.1s;
  cursor: crosshair;
  z-index: 100;
}

.plague-doctor-element-init.plague-doctor-element-init {
  opacity: 0;
  transition: opacity 0.5s ease top 0.1s, left 0.1s;
}

.image-reversed.image-reversed {
  transform: scaleX(-1);
}

.dead.dead {
  transform: rotate(-90deg);
}

.plague-doctor-controls {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-width: 100px;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}

.plague-doctor-controls button {
  margin: 8px;
}

.doctors-4tv-logo {
  position: absolute;
  top: 100%;
  height: 40px;
  align-self: flex-end;
}

.plague-doctor-controls:hover {
  transform: translateY(0px);
}

@media only screen and (max-device-width: 768px) {
  .plague-doctor-element {
    transform: scale(2);
  }
  .image-reversed.image-reversed {
    transform: scaleX(-2) scaleY(2);
  }
}
